/* Container for both image and content side-by-side */
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

/* Styling for the image */
.about-image {
  flex: 1;
  padding-right: 20px;
}

.about-image img {
  width: 60%;
  height: auto;
  border-radius: 10px;
}

/* Styling for the content */
.about-content {
  flex: 1;

  padding: 30px;
  border-radius: 20px;
  max-width: 800px;
}

.about-heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Georgia', serif;
}

.about-description {
  font-size: 1.2rem;
  line-height: 1.6;
  font-family: 'Georgia', serif;
  font-weight: 400;
}

  