.home-page{
  position: fixed;
  top: 30px;
  width: 100%;
  z-index: 1000;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    color: #e0e0e0;
  }
  
  .hero-content {
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    margin-top: 80px;
    position: relative;
    text-align: center;
    z-index: 10;
  }
  
  .hero h2 {
    font-size: 3.5rem;
    margin-bottom: 15px;
    color: #4CC9FE;
    background-color: #000;
    border-radius: 15px 15px 0px 0px;
    padding: 15px 20px;
    width: fit-content;
    margin-top: 35vh;
    margin-left: auto;
    margin-right: auto;
  }
  
  .hero p {
    font-size: 1.8rem;
    margin-bottom: 0px;
    background-color: #000;
    border-radius: 15px;
    padding: 15px 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-buttons {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 25vh;
   }
  
  .cta {
    width: 100px;
    padding: 10px 20px;
    background: #4CC9FE;
    color: #333;
    border-radius: 5px 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    transition: background 0.3s, transform 0.3s;
  }
  
  .cta:hover {
    background: #eee;
    color: #333;
    transform: scale(1.1);
  }
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media screen and (max-width: 768px) {
    .hero-content {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      z-index: 10;
    }
    .nav-buttons {
     display: flex;
     flex-direction: column;
     width: fit-content;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 40px;
     margin-top: 10px;
    }

    .hero h2 {
      font-size: 2.2rem;
      padding: 5px 10px;
      width: 70%;
    }
    
    .hero p {
      padding: 5px 10px;
      margin-bottom: 0px;
      width: 90%;
    }
    .cta {
      margin-top: 15px;
    }
  }
  
  @media screen and (max-width: 480px) {

  }
  